// Main colors
$first-color: rgb(105, 93, 90);
$second-color: rgb(95, 152, 197);
$third-color: rgb(93, 93, 93);

$white-color: rgb(255,255,255);


$header-height: 120px;

$content-width: 960px;
$text-block-width: 500px;